name: Connect to EC2

on:
  push:
    branches:
      - develop
  workflow_dispatch:  # 允許你從 Action 頁簽上手動執行 workflow

jobs:
  docker_to_EC2:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code #clone repositories to runner
        uses: actions/checkout@v3

      - name: Build Docker Compose for Test
        run: |
          npm cache clean --force
          rm -rf node_modules
          sudo apt-get purge docker.io
          if ! [ -x "$(command -v docker)" ]; then
            echo "Docker is not installed. Installing Docker..."
            sudo apt-get update
            sudo apt-get install -y docker.io
            sudo systemctl start docker
            sudo apt install docker-compose -y
          else
            echo "Docker is already installed."
          fi

          if [ ! -d "private" ]; then
            echo "Creating 'private' directory..."
            mkdir private
          fi
          
          echo "${{ secrets.ENV_FILE  }}" > .env
          echo "${{ secrets.ENV_DOCKER_FILE  }}" > .env.docker
          echo "${{ secrets.CERTIFICATE_CRT  }}" > private/certificate.crt
          echo "${{ secrets.PRIVATE_KEY  }}" > private/private.key
          
          docker-compose --env-file .env.docker up --build -d

      - name: Sleep 30 sec
        run: sleep 30

      - name: Run Test
        run: |
          docker exec canchu_server npm test -- --watch=false
          

      # - name: Login to Docker Hub
      #   uses: docker/login-action
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # - name: Build Docker Image # 引入secrets env & build docker compose
      #   run: |
      #     cd project
      #     echo "${{ secrets.ENV_FILE  }}" > .env 
      #     mkdir private
      #     echo "${{ secrets.CERTIFICATE_CRT  }}" > private/certificate.crt
      #     echo "${{ secrets.PRIVATE_KEY  }}" > private/private.key
      #     docker-compose build
      #     docker-compose --env-file .env up -d

      # - name: Push Docker to Docker Hub
      #   uses: docker push
    
  deploy_docker:
    runs-on: ubuntu-latest
      
    steps:
      # - name: Install Docker on EC2
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y docker.io
  
      # - name: Connection to EC2
      #   uses: appleboy/ssh-action@master
      #   run: |
      #     echo ${{ secrets.EC2_SSH_PRIVATE_KEY }} > key.pem
      #     chmod 600 key.pem
      #     ssh -i key.pem ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }}

      - name: Deploy on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script: |
            if ! [ -x "$(command -v docker)" ]; then
              echo "Docker is not installed. Installing Docker..."
              sudo apt-get update
              sudo apt-get install -y docker.io
              sudo systemctl start docker
              sudo apt install docker-compose -y
            else
              echo "Docker is already installed."
            fi

            cd github/Canchu
            git pull origin develop
            if [ ! -d "private" ]; then
              echo "Creating 'private' directory..."
              mkdir private
            fi
            
            sudo sh -c 'echo "${{ secrets.ENV_FILE  }}" > .env'
            sudo sh -c 'echo "${{ secrets.CERTIFICATE_CRT  }}" > private/certificate.crt'
            sudo sh -c 'echo "${{ secrets.PRIVATE_KEY  }}" > private/private.key'

            sudo docker-compose down --network canchu_network
            sudo docker-compose --env-file .env up --build -d
            sudo docker image prune -af
          # docker-compose down -> 停止&清除docker comopose
          # docker image prune -af -> 刪除所有未使用的image 
      
      # - name: Deploy Docker Container on EC2
      #   run: |
      #     ssh ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} "docker pull ${{ secrets.DOCKERHUB_USERNAME }}/project"
      #     ssh ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} "docker-compose --env-file .env up -d"
