name: Test Self-Hosted Runner

on:
  push:
    branches:
      - develop
      
jobs:
  test_runner:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print message
        run: echo "Hello, GitHub Action!"
